<h1>Camera Spotlight</h1>

<dl class="attributes">
  <dt>Camera Brand</dt>
  <dd><%= @camera.brand %></dd>
  <dt>Camera Model</dt>
  <dd><%= @camera.camera_model %></dd>
  <dt>Camera Review</dt>
  <dd><%= @camera.reviews %></dd>
  <dt>Sample Image</dt>
  <dd><%= @camera.sample_image %></dd>
</dl>
